.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1em;
  max-width: 1000px;
}

.header a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddddddcc;
  border-radius: 7px;
}

.header h1 {
  flex: 1;
}

.filter {
  display: flex;
  padding: 1em;
  gap: 10px;
  margin: auto;
  margin-bottom: 20px;
}
.filter button,
.filter input {
  padding: 0.6em;
  border-radius: 10px;
  border: none;
  outline: none;
}

.filter input {
  background-color: #ffff;
  border: 1px solid #ccc;
  flex: 1;
}

.filter button {
  background-color: dodgerblue;
  color: #fff;
}
