.container {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 1000px;
    width: 100%;
}
.container img {
    width: 220px;
    padding: 15px 20px;
    background-color: #fff;
    border: 2px dotted #fe5d42;
    border-radius: 50px;
    margin: 10px;
    margin-right: 20px;
}
.information {
    margin: 10px;
    padding: 25px;
    border: 2px dotted #e2e2e2;
    border-radius: 50px;
}
.information div {
    display: flex;
    justify-content: space-between;
}
.information a {
    display: flex;
    align-items: center;
    background-color: #fe5d42;
    padding: 5px 10px;
    color: #fff;
    border-radius: 12px;
}

.information h3 {
    display: flex;
    align-items: center;
    background-color: #fe5d42;
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
}

.description {
    color: gray;
    font-size: 1.1rem;
    width: 500px;
    margin-bottom: 40px;
}

.category {
    margin-bottom: 10px;
}

.category svg,
.information span svg {
    color: #fe5d42;
    margin-right: 10px;
}
